[Unit]
Description=Prints text and plays sound at intervals
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env bash /home/pi/start-printing

[Install]
WantedBy=multi-user.target
